<div class="base-change container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 title">
			个人形象照
		</div>
		<div class="col-lg-7 col-md-7 col-sm-7">
			<input type="file" name="portrait" id="portrait" data-oldportrait = "<%= admin.portrait %>" accept="image/jpeg,image/png"/>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 title">
			首页技能一
		</div>
		<div class="col-lg-7 col-md-7 col-sm-7">
			<input type="text" name="skill1" id="skill1" placeholder="请填写技能一" value="" />
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 title">
			首页技能二
		</div>
		<div class="col-lg-7 col-md-7 col-sm-7">
			<input type="text" name="skill2" id="skill2" placeholder="请填写技能二" value="" />
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 title">
			首页技能三
		</div>
		<div class="col-lg-7 col-md-7 col-sm-7">
			<input type="text" name="skill3" id="skill3" placeholder="请填写技能三" value="" />
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 title">
			首页技能四
		</div>
		<div class="col-lg-7 col-md-7 col-sm-7">
			<input type="text" name="skill4" id="skill4" placeholder="请填写技能四" value="" />
		</div>
	</div>
	<div class="row">
		<span class="message"></span>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 title">
		</div>
		<div class="col-lg-7 col-md-7 col-sm-7">
			<button class="btn-primary btn" id="confirm">确认修改</button>
		</div>
	</div>
</div>