<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>后台管理</title>
		<link rel="stylesheet" type="text/css" href="/css/admin/admin.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="bookmark" href="/favicon.ico" />
		<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/checkstr.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/router.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="admin">
			<!-- adminleft -->
			<div class="admin-left">
				<div class="banner">
					<a href="/admin/">
						<img src="/images/banner.png" />
						<span><%=admin.email%></span>
					</a>
				</div>

				<div class="nav">
					<ul>
						<li>
							<a href="#indexshow">主页信息</a>
							<ul class="second-nav">
								<li>
									<a href="#indexshow">查看</a>
								</li>
								<li>
									<a href="#indexchange">修改</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#resumeshow">个人简历</a>
							<ul class="second-nav">
								<li>
									<a href="#resumeshow">查看/添加</a>
								</li>
								<li>
									<a href="#resumechange">修改/删除</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#myworkshow">个人作品</a>
							<ul class="second-nav">
								<li>
									<a href="#myworkshow">查看</a>
								</li>
								<li>
									<a href="#myworkchange">修改</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#businessshow">服务信息</a>
							<ul class="second-nav">
								<li>
									<a href="#businessshow">查看</a>
								</li>
								<li>
									<a href="#businesschange">修改</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#/ordershow">订单管理</a>
							<ul class="second-nav">
								<li>
									<a href="#ordershow">查看</a>
								</li>
								<li>
									<a href="#orderchange">修改</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- //adminleft -->

			<!-- adminright -->
			<div class="admin-right">
				<div class="right-top">
					<div class="icons">
						<i class="glyphicon glyphicon-user"></i>
						<i class="glyphicon glyphicon-comment"></i>
						<i class="glyphicon glyphicon-off"></i>
						<i class="glyphicon glyphicon-search search"></i>
					</div>
				</div>

				<div class="right-info">
					<div class="brief-info">
						<img src="/images/banner.png" />
						<div class="text-infomation">
							<p class="name">
								<%=admin.adminName%>
							</p>
							<span class="job">设计师 · </span>
							<a href="#">更多</a>
							<p class="experience"><i class="glyphicon glyphicon-calendar"></i> 3年</p>
						</div>
						<div class="stars">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
						</div>
					</div>
					<div class="operation">
						<a href="#" class="glyphicon glyphicon-pencil"></a>
						<a href="#" class="glyphicon glyphicon-off"></a>
					</div>
				</div>

				<div class="view-window" id="contents">



				</div>
				<div class="resume-window" id="resumeContents"></div>
				<script src="/js/admin-router.js" type="text/javascript" charset="utf-8"></script>
			</div>
			<!-- //adminright -->
		</div>
	</body>

</html>