<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>设计师网站平台</title>

        <link href="/css/site.min.css" rel="stylesheet">
        <link href="/css/index/bootstrap-theme.min.css" rel="stylesheet">

        <link href="/css/index/owl.carousel.css" rel="stylesheet">
        <link href="/css/index/owl.theme.default.min.css" rel="stylesheet">

        <link href="/css/index/magnific-popup.css" rel="stylesheet">

        <link href="/css/index/index.css" rel="stylesheet">


        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="menu-item" class="menu-item hide-menu">
            <div class="container">
                <ul>
                    <a href="index.html"><li>主页</li></a>
                    <a href="#about"><li>平台简介</li></a>
                    <a href="#workstation"><li>案例</li></a>
                    <a href="#contact"><li>联系我</li></a>
                    <a href="admin_login.html"><li>设计师登录</li></a>
                </ul>
            </div>
        </div>
        <div class="main">
            <header class="bg-img header">
                <nav class="navbar navbar-default navbar-vira">
                    <div class="container">
                        <div class="navigation-bar">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="logo">
                                        <a href="index.html"><span class="fa fa-male"></span></a>
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <div class="menu m">
                                        <a href="#"><span class="ion-navicon _ion-android-menu"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="container">
                    <div class="row">
                        <div class="intro-box">
                            <div class="intro">
                                <h1>设计师个人网站</h1>
                                <p>创建专属于您的设计师个人网站</p>
                                <a class="btn vira-btn" href="admin_register.html">免费创建</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section id="about" class="about section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h2 class="title">平台简介</h2>
                            <p>
                                	专注服务于设计师，无论你是初入设计领域的新人，还是设计领域大 niu，都应该拥有一个简洁而高大上的专属个人网站。
                                	通过这个个人网站，你不仅可以展示个人的资历，还能展示你独创的作品，甚至能积累自己的用户群体，出售自己的设计服务。
                            </p>
                            <img src="/images/index/signature.png">
                            <span>Hiram Pierce</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="purpose section">
                <div class="container">
                    <h2 class="title">主要功能</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <div class="card-icon">
                                        <span class="fa fa-female" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="vira-card-content">
                                    <h3>简历展示</h3>
                                    <p>
                                        	编辑首页个人信息。特创简历模块，设计师可以编辑多份个人简历，并选择一份进行展示。实力派就是要秀！
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <div class="card-icon">
                                        <span class="fa fa-cogs" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="vira-card-content">
                                    <h3>作品展示</h3>
                                    <p>
                                        	可通过网站向更多人展示你的作品，作品模块可编辑作品分类、上传作品至分类、编辑作品等，可选择在个人首页展示的作品。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <div class="card-icon">
                                        <span class="fa fa-money" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="vira-card-content">
                                    <h3>服务系统&客户系统</h3>
                                    <p>
                                        	可展示你的设计服务，服务模块可以编辑服务分类、添加或编辑服务等，客户能看到服务的相应参考价格并进行预约。访问者可在个人首页注册成为你的专属客户。
                                        	从此再也不必担心业余时间没单可做了。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="workstation" class="work section" style="background-color: white;">
                <div class="container">
                    <h2 class="title">案例</h2>
                    <div id="workstation-slider" class="owl-carousel">
                    	<% admins.map(function(admin){ %>
                    		<div class="item">
	                            <div class="vira-card">
	                                <div class="vira-card-header">
	                                    <img class="img-responsive" src="uploads/admin/<%= admin.portrait %>" style="height: 214px;width: auto;margin: 0 auto;">
	                                </div>
	                                <div class="vira-card-content">
	                                    <h3><%= admin.adminName %></h3>
	                                    <p>
	                                        <a href="/home/<%=admin.adminName%>">http://bonnielee.com/home/<%=admin.adminName%></a>
	                                    </p>
	                                </div>
	                            </div>
	                        </div>
                    	<%})%>
                    </div>
                </div>
            </section>
            <section class="vira-quote section bg-img">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="quote" src="/images/index/quote.png">
                           <p>
                               	少就是多，简洁就是丰富。
                           </p>
                           <p class="author">To Designers</p>
                           <img src="/images/index/mouse.png">
                        </div>
                    </div>
                </div>
            </section>
            <section id="contact" class="contact section">
                <div class="container">
                    <h2 class="title">联系我</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                        <span class="fa fa-map-marker" aria-hidden="true"></span>
                                </div>
                                <div class="vira-card-content">
                                    <h3>地址</h3>
                                    <p>
                                        	广东省江门市蓬江区
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                        <span class="fa fa-phone" aria-hidden="true"></span>
                                </div>
                                <div class="vira-card-content">
                                    <h3>QQ</h3>
                                    <p>
                                        954714777
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                        <span class="fa fa-paper-plane-o" aria-hidden="true"></span>
                                </div>
                                <div class="vira-card-content">
                                    <h3>邮箱</h3>
                                    <p>
                                        954714777@qq.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="social-icons">
                                <ul>
                                    <a href="http://t.qq.com/paul954714777?preview" target="_blank"><li><span class="fa fa-tencent-weibo"></span></li></a>
                                    <!--<a href="#" target="_blank"><li><span class="fa fa-weibo"></span></li></a>-->
                                    <a href="tencent://message/?Menu=yes&Uin=954714777"><li><span class="fa fa-qq"></span></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <p> &copy; 2017 bonnielee.com. All Rights Reserved | Design by Hiram</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/index/owl.carousel.min.js"></script>
        <!--<script src="https://use.fontawesome.com/55b73bf748.js"></script>-->
        <script src="/js/index/jquery.magnific-popup.js"></script>
        <script src="/js/index/script.js"></script>
    </body>
</html>