<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title><%=admin.adminName%>的个人网站</title>
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Bonnie, designer, UI,设计师" />
		<script type="application/x-javascript"> 
			addEventListener("load", function() { 
				setTimeout(hideURLbar, 0); 
			}, false);
			//手机打开页面后收起地址栏 hideURLbar  
			function hideURLbar(){ 
				window.scrollTo(0,1);
			} 
		</script>
	<!-- //for-mobile-apps -->	
	<!-- js -->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script src="/js/modernizr.custom.97074.js"></script>
	<!-- js -->
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="/js/move-top.js"></script>
		<script type="text/javascript" src="/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				//设置点击导航项后界面定位到指定位置（有动画效果）
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
</head>
<body>
<!-- top -->
<div class="topnav">
	<% if(typeof(customer)=="undefined"){ %>
		<a href="/customer_login.html">登录</a>
		<a href="/customer_register.html" style="margin-right: 10px;">注册</a>
		<div class="clearfix"></div>
	<%}else{ %>
		<span id="welcome">欢迎你，<%=customer.customerName%></span>
		<a href="javascript:;" id="logout">退出登录</a>
		<a href="/customer" style="padding-right: 30px;">个人中心</a>
		<div class="clearfix"></div>
	<%}%>
</div>
<script type="text/javascript">
	//客户退出登录
	$("#logout").click(function(){
		$.ajax({
			type:"get",
			url:"/login/customerlogout",
			async:true
		}).then(function(){
			window.location.reload();
		})
	});
</script>
<!-- //top-->
<!-- banner -->
<div id="home" class="banner">
	<div class="container">
		<div class="banner-grids">
			<div class="col-md-5 col-sm-5 navigation">
				<div class="nav-left">
					<div class="grid__item color-4">
						<a class="link link--kumya" href="#home"><span data-letters="<%=admin.adminName%>"><%=admin.adminName%></span></a>
					</div>
				</div>
				<div class="nav-right">
						<span class="menu"><img src="/images/menu.png" alt="" /></span>
							<nav class="cl-effect-1">
								<ul class="nav1">
									<li><a class="scroll" href="#home">主页</a></li>
									<li><a class="scroll" href="#about">关于我</a></li>
									<li><a class="scroll" href="#portfolio">作品展示</a></li>
									<li><a class="scroll" href="#services">服务</a></li>
									<li><a class="scroll" href="#contact">联系我</a></li>
								</ul>
							</nav>
							<!-- script for menu -->
							<script> 
								$( "span.menu" ).click(function() {
								$( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								});
								});
							</script>
							<!-- //script for menu -->

				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-7 col-sm-7 banner-image text-center">
				<img src="/uploads/admin/<%=admin.portrait%>" alt=""/>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //banner -->
<!-- about -->
<div id="about" class="about">
	<div class="container">
		<div class="about-info">
				<h3>关于我</h3>
				<h4>我是谁&我为什么要从事设计</h4>
				<p>
					<% if(typeof(about)=="undefined"){ %>
						有待完善
					<% } else { %>
						<%=about.aboutMe%>
					<% } %>
				</p>
		</div>
		<div class="about-grids">
		   	<div class="col-md-6 about-grid">
		   		<h4>我的经验</h4>
		   		<p>
		   			<% if(typeof(about)=="undefined"){ %>
						有待完善
					<% } else { %>
						<%=about.experience%>
					<% } %>
		   		</p>
		   	</div>
		   	<div class="col-md-6 about-grid">
		   		<h4>我的愿景</h4>
		   		<p>
		   			<% if(typeof(about)=="undefined"){ %>
						有待完善
					<% } else { %>
						<%=about.willing%>
					<% } %>
		   		</p>
		   	</div>
		   	<div class="clearfix"> </div>
		</div>  
		<a class="more" href="/home/<%=admin.adminName%>/resume">查看更多</a>
	</div>
</div>
<!-- //about -->
<!-- my skills -->
	<div class="our-skills">
		<div class="container">
			<div class="skill-info">
				<h2>我的技能</h2>
			</div>
			<div class="skill-grids">
					<div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-1"></div>
						<p><%= skills[0].skill %></p>
					</div>
					<div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-2"></div>
						<p><%= skills[1].skill %></p>
					</div>
					<div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-3"></div>
						<p><%= skills[2].skill %></p>
					</div>
					<div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p><%= skills[3].skill %></p>
					</div>
					<div class="clearfix"> </div>
				 <script type="text/javascript" src="/js/circles.js"></script>
					         <script>
								var colors = [
										['#787878', '#01afec'], ['#787878', '#01afec'], ['#787878', '#01afec'], ['#787878', '#01afec']
									];
								var child1 = document.getElementById('circles-1')
								Circles.create({
									id:         child1.id,
									percentage: 85,
									radius:     80,
									width:      10,
									number:   	85,
									text:       '%',
									colors:     colors[0]
								});
								/*$(child1.parentElement).bind("mouseenter",function(){
									Circles.create({
										id:         child1.id,
										percentage: 85,
										radius:     80,
										width:      10,
										number:   	85,
										text:       '%',
										colors:     colors[0]
									});
								});*/
								for (var i = 2; i < 5; i++) {
									var child = document.getElementById('circles-' + i),
										percentage = 50 + (i * 10);
									Circles.create({
										id:         child.id,
										percentage: percentage,
										radius:     80,
										width:      10,
										number:   	percentage,
										text:       '%',
										colors:     colors[i - 1]
									});
									/*!function(child,percentage){
										$(child.parentNode).bind("mouseenter",function(){
											Circles.create({
												id:         child.id,
												percentage: percentage,
												radius:     80,
												width:      10,
												number:   	percentage,
												text:       '%',
												colors:     colors[0]
											});
										});
									}(child,percentage);*/
								}
						
				</script>
			</div>
			<a class="more" href="/home/<%=admin.adminName%>/resume" target="_blank">查看更多</a>
		</div>	
	</div>
<!-- //my skills -->
<div id="portfolio" class="gallery">
		<div class="container">
			<script src="/js/jquery.chocolat.js"></script>
			<link rel="stylesheet" href="/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
			<!--light-box-files -->
			<script type="text/javascript" charset="utf-8">
			$(function() {
				$('.gallery section a').Chocolat(
					{
						fadeInOverlayduration:300,
						fadeInImageduration:200,
						fadeOutImageduration:300,
					}
				);
			});
			</script>
			<h3>作品展示</h3>
			<section>
				<ul id="da-thumbs" class="da-thumbs">
					<% workshow.map(function(work){ %> 
						<li>
							<a href="/uploads/works/<%=work.workImg%>" rel="title" class="b-link-stripe b-animate-go  thickbox">
								<img src="/uploads/works/<%=work.workImg%>" alt="" />
								<div>
									<h5><%=work.worksName%></h5>
									<p style="padding: 12px 20px;text-align: center;"><%=work.worksIntro%></p>
								</div>
							</a>
						</li>
					<%})%>
					<div class="clearfix"> </div>
				</ul>
			</section>
				<script type="text/javascript" src="/js/jquery.hoverdir.js"></script>	
				<script type="text/javascript">
					$(function() {
						$(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );
					});
				</script>
			<a class="more" href="/home/<%=admin.adminName%>/works">查看更多</a>
        </div>	
</div>
<!--//gallery-->
<!--services-->
<div id="services" class="services">
	<div class="container">
		<div class="ser-head">
			<h3>特色服务</h3>
		</div>
		<div class="wel-grids">
			<% services.map(function(service){ %>
				<div class="col-md-4 wel-grid btm-gre text-center">
					<div class="btm-clr">
						<figure class="icon">
							<img src="/uploads/service/<%= service.typeImg %>" style="width: 45%;top: 5px;" />
						</figure>
						<h3><%= service.typeName %></h3>
						<p> <%= service.typeDescription %></p>
					</div>
				</div>
			<%})%>
				
			<div class="clearfix"></div>
		</div>
		<a class="more" href="/home/<%=admin.adminName%>/business">查看更多</a>
	</div>
</div>
<!--//services-->
<!-- get-in -->
<div id="contact" class="get-in-touch">
	<div class="container">
		<div class="get-info text-center">
			<h3>联系我</h3>
			<h4><i>邮箱：<%= admin.email %></i></h4>
			<!--<p>地址：广东省江门市蓬江区五邑大学</p>-->
		</div>
	</div>
	<!--<div class="map">
		<iframe src="/baidu_map.html" frameborder="0" style="border:0;margin: 0 auto;width: 700px;position: relative;left: 50%;margin-left: -350px;" scrolling="no"></iframe>
	</div>-->
</div>
<!-- //get-in -->
<!-- footer -->
<div class="copy-right">
	<div class="container">
		<p> &copy; 2017 bonnielee.com. All Rights Reserved | Design by  Bonnie & Hiram</p>
	</div>
</div>
<!-- footer -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
	<script type="text/javascript">
		localStorage.setItem("designerSite",window.location.href);
	</script>
</body>
</html>
