<div class="orderDetail">
	<div id="serviceInfo" class="orderTable">
		<h4>服务属性</h4>
		<table border="1px" bordercolor="#aaa">
			<tr>
				<th>服务</th>
				<th>服务描述</th>
				<th>服务单价</th>
				<th>数量</th>
				<th>参考总价</th>
			</tr>
			<tr>
				<td><%= detail.serviceTitle %></td>
				<td><%= detail.serviceDescription %></td>
				<td>&yen;<%= detail.servicePrice %></td>
				<td><%= detail.amount %></td>
				<td style="color: red;">&yen;<%= detail.totalPrice %></td>
			</tr>
		</table>
	</div>
	<div id="orderInfo" class="orderTable">
		<h4>订单信息</h4>
		<table border="1px" bordercolor="#aaa">
			<tr>
				<td class="title">设计师：</td>
				<td class="data"><%= detail.adminName %></td>
				<td class="title">Email：</td>
				<td class="data"><%= detail.email %></td>
			</tr>
			<tr>
				<td class="title">订单状态：</td>
				<td class="data" style="color: red;">
					<% if(detail.orderStatus == "0"){ %>
						处理中，请确保联系方式畅通
					<% }else if(detail.orderStatus == "1"){ %>
						已完成
					<% }else{ %>
						不合适，设计师已取消该订单
					<% } %>
				</td>
				<td class="title">下单时间：</td>
				<td class="data"><%= detail.orderTime %></td>
			</tr>
			<tr>
				<td class="title">订单描述：</td>
				<td class="data" colspan="3"><%= detail.orderDescription %></td>
			</tr>
		</table>
	</div>
</div>