<div class="resume-change">
	<form action="/admin/resumechange" method="post" >
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<th width="20%"><span>*</span> <font>简历名称</font></th>
				<td><input type="text" name="resumeName" id="resumeName" placeholder="请输入简历名称" value="<%= brief.resumeName %>" data-resumeid = "<%= brief.resumeID %>"/></td>
			</tr>
			<tr>
				<th width="20%"><span>*</span> <font>姓名</font></th>
				<td><input type="text" name="userName" placeholder="请填写您的真实姓名" id="userName" value="<%= main.userName %>"/></td>
			</tr>
			<tr>
				<th><span>*</span> <font>性别</font></th>
				<td colspan="3">
					<!--<input type="radio" name="gender" value="0x1" checked="checked"> 男
					<input type="radio" name="gender" value="0x0"> 女-->
					<select name="gender" id="gender">
						<option value="1">男</option>
						<option value="0">女</option>
					</select>
				</td>
			</tr>
			<tr>
				<th><span>*</span> <font>出生日期</font></th>
				<td><input type="date" name="birth" id="birth" value="<%= main.birth %>"/></td>
			</tr>
			<tr>
				<th><span>*</span> <font>所在城市</font></th>
				<td><input type="text" name="liveSpot" id="liveSpot" placeholder="请填写您的现居地" value="<%=main.nativePlace%>" /></td>
			</tr>
			<tr>
				<th><span>*</span> <font>工作年限</font></th>
				<td><input type="number" name="workYears" id="workYears" value="<%=main.workYear%>"/></td>
			</tr>
			<tr>
				<th><span>*</span> <font>最高学历</font></th>
				<td>
					<select name="education" id="highestEducation">
						<option value="1">高中</option>
						<option value="2">中专</option>
						<option value="3">大专</option>
						<option value="4" selected="selected">本科</option>
						<option value="5">研究生</option>
						<option value="6">硕士</option>
						<option value="7">博士</option>
					</select>
				</td>
			</tr>
			<tr>
				<th><span>*</span> <font>联系电话</font></th>
				<td><input type="text" name="tel" id="tel" placeholder="请填写您的联系电话" value="<%=main.tel%>"/></td>
			</tr>
			<tr>
				<th><span>*</span> <font>Email</font></th>
				<td><input type="text" name="email" id="email" placeholder="请填写您的邮箱地址" value="<%=main.mailbox%>"/></td>
			</tr>
			
			<tr>
				<th><span>*</span> <font>工作性质</font></th>
				<td>
					<select name="jobspecification" id="jobspecification">
						<option value="1">兼职</option>
						<option value="2" selected="selected">全职</option>
					</select>
				</td>
			</tr>
			<tr>
				<th><span>*</span> <font>期望行业</font></th>
				<td><input type="text" name="promisingIndustry" id="promisingIndustry" placeholder="请填写您期望从事的行业" value="<%=main.promisingIndustry%>"/></td>
			</tr>
			<tr>
				<th><span>*</span> <font>意向工作城市</font></th>
				<td><input type="text" name="willspot" id="willspot" placeholder="请填写您的邮箱地址" value="<%=main.willSpot%>"/></td>
			</tr>
			<tr>
				<th><span>*</span> <font>工作状态</font></th>
				<td>
					<select name="jobstatus" id="jobstatus">
						<option value="1">已就业</option>
						<option value="2">求职中</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<th><span>*</span><font>专业技能</font></th>
				<td>
					<textarea id="specializeSkill" name="specializeSkill" rows="5" cols="70"><%=sub.specializeSkill%></textarea>
				</td>
			</tr>
			<tr>
				<th><font>工作经历</font></th>
				<td>
					<textarea name="workExperience" id="workExperience" rows="5" cols="70"><%=sub.workExperience%></textarea>
				</td>
			</tr>
			<tr>
				<th><font>培训经历</font></th>
				<td>
					<textarea name="trainingExperience" id="trainingExperience" rows="5" cols="70"><%=sub.trainingExperience%></textarea>
				</td>
			</tr>
			<tr>
				<th><font>教育经历</font></th>
				<td>
					<textarea name="educationExperience" id="educationExperience" rows="5" cols="70"><%=sub.educatioinExperience%></textarea>
				</td>
			</tr>
			<tr>
				<th><span>*</span><font>近日头像</font></th>
				<td>
					<input type="file" name="userImg" id="userImg" data-oldimg = "<%= main.userImg %>" accept="image/jpeg,image/png"/>
				</td>
			</tr>
			<tr>
				<th class="isshow"><span>*</span><font>是否展示该简历</font></th>
				<td>
					<select name="display" id="display">
						<option value="0" selected="selected">否</option>
						<option value="1">是</option>
					</select>
				</td>
			</tr>
		</table>
		<div class="message"></div>
		<input type="submit" value="提交"/>
	</form>
	<button type="button" class="btn btn-warning" id="deleteResume">删除该简历</button>
</div>